
*{
margin:0px;
padding:0px;
}

header,section,footer,aside{
display:block;

}

body{
width:100%;
display:-webkit-box;
-webkit-box-pack:center;
}
#home{

max-width:1000px;
margin: 20px 0px;
display:-webkit-box;
-webkit-box-orient: vertical;

}
#home_header{
text-align:center;
}
#menu{
margin:10px 0;
width:1000px;
text-align:center;
}
#menu li{
display:inline-block;
list-style:none;
padding:15px;
}

#home2{

width:1000px;
-webkit-box-orient: vertical;
margin:40px auto;
display:-webkit-box;
-webkit-box-pack:center;
}

#intro{

display:-webkit-box;
-webkit-box-pack:center;

	margin:20px auto;
	
	padding:20px;
}
#aside_info{


	display:-webkit-box;
-webkit-box-pack:center;
	margin: 20px 0px;
	
	
}
#aside_info li{
list-style:none;

}
#info{
width:200px;
}

#home3{
margin:40px auto;
display:-webkit-box;
-webkit-box-pack:center;
}
#course{
width:450px;
}
#home4{
margin:40px auto;
display:-webkit-box;
-webkit-box-pack:center;
}
#project{
width:450px;
}
#home5{
margin:40px auto;
display:-webkit-box;
-webkit-box-pack:center;
}

#skill{
width:450px;
}
#text{
width:100px;
	height:30px;
	-webkit-border-radius:60px 5px;
	border:1px dashed #ccc;
	background:rgba(255,218,185,0.5);
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-fill-mode:both;
}
 @-webkit-keyframes wobble{	
  0% { -webkit-transform: translateX(0%); }
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% { -webkit-transform: translateX(20%) rotate(3deg); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% { -webkit-transform: translateX(10%) rotate(2deg); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}
#text:hover{
-webkit-animation-name:wobble;
}

.tohome{
	text-decoration:none;
	color: inherit;
}
p,h2,footer,li,h3,h1{
font-family: 'Josefin Sans', sans-serif;
}
#outer{
list-style-type:circle;
}
#inner{
list-style:none;
}
footer{
-webkit-border-radius:50px 7px;
margin:10px auto;
width:200px;
border:1px dashed #ccc;
background:rgba(255,235,205,0.5);
text-align:center;
}
img{
border:1px dashed #ccc;
}
#back{
width:50px;
height:40px;
-webkit-border-radius:50px 50px;
background:rgba(255,235,205,0.8);
text-align:center;
}
